<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://b.hiphotos.baidu.com/baike/c0%3Dbaike116%2C5%2C5%2C116%2C38/sign=ce75753ed300baa1ae214fe92679d277/d1160924ab18972b854fb818e4cd7b899f510aee.jpg</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/001s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/002s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/003s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/004s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/005s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/006s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/007s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/008s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/009s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/010s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/011s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/012s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/013s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/014s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/015s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/016s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/017s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/018s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/019s.png</string>
	<string>http://oboodpn8f.bkt.clouddn.com/simg/020s.png</string>
</array>
</plist>
